.header {
    margin: 0 auto;
    width: 368px;
    &_nav{
        padding: 10px 15px;
        width: 368px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    };
    &_list {
        display: flex;
        &__item {
            font-size: 0;
            list-style: none;
            margin-right: 7px;
        };
        &__link_logo {
            width: 30px;
            height: 20px;
        };
        &__base_text {
            font-family:'$Open Sans';
            font-size: 16px;
        };
    };
    &_button_sandwich {
        background-image: url('../../images/dehaze-black-18dp.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 15px;
        background-color: inherit;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
            color: $secondary-color;
        }
    };
}

